<template name="name">
	<div class="name">
		<div class="avatar-container dropdown"><img class="avatar dropdown-toggle" data-toggle="dropdown"/><span  data-toggle="dropdown" class="users-number dropdown-toggle" >+2</span>
			<ul class="dropdown-menu users" role="menu">  
				<li>
					<a href="#"><i class="icon-user"></i> Eric<i class="icon-remove icon-white"></i></a>  
				</li>  
				<li>
					<a href="#"><i class="icon-edit"></i>  Anthony<i class="icon-remove icon-white"></i></a>  
				</li>  
				<li>
					<a href="#"><i class="icon-eye-open"></i> Olivier<i class="icon-remove icon-white"></i></a>  
				</li> 
				<li class="plus">
					<a href="#"><i class="icon-plus"></i></a>  
				</li>  
			</ul>  
		</div>
		<h2 id="name" contenteditable="true" data-param="name">{{tada.name}}</h2>
	</div>
</template>